<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <!--
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
          -->
            <a class="navbar-brand" href="/"><img alt="Logo" src="<%= asset_path "logo.png" %>" style="height:150%;width:auto;"/></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
<!--
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="portfolio-1-col.html">1 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="portfolio-2-col.html">2 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="portfolio-3-col.html">3 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="portfolio-4-col.html">4 Column Portfolio</a>
                        </li>
                        <li>
                            <a href="portfolio-item.html">Single Portfolio Item</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="blog-home-1.html">Blog Home 1</a>
                        </li>
                        <li>
                            <a href="blog-home-2.html">Blog Home 2</a>
                        </li>
                        <li>
                            <a href="blog-post.html">Blog Post</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="full-width.html">Full Width Page</a>
                        </li>
                        <li>
                            <a href="sidebar.html">Sidebar Page</a>
                        </li>
                        <li>
                            <a href="faq.html">FAQ</a>
                        </li>
                        <li>
                            <a href="404.html">404</a>
                        </li>
                        <li>
                            <a href="pricing.html">Pricing Table</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        -->
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">About
              <small>Loafer's Mania</small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
      <div class="col-md-6">
          <img class="img-responsive" src="<%= asset_path "about.jpg" %>" alt="About" width="100%">
          <div class="carousel-indicators">
              <h6>photo by <a href="https://www.flickr.com/photos/l33tminion/" target="_blank">Sam</a></h6>
          </div>
      </div>
      <div class="col-md-6">
          <h2>ローファーを履こう！</h2>
          <p>ローファーがこの世界に誕生したのは1930年頃と言われています。以来、進化を遂げながらも変わらないフォルムで人々の足元を彩ってきました。</p>
          <p>Loafer's Mania!!は、この日本でもローファーがより存在感を増すよう願うサイトです。
          </br>日本では学生靴のイメージが強いローファーですが、本当はバリエーションも豊富で様々なシーンで活躍する大人向けの靴なのです。
          </br>Loafer's Mania!!では日本・世界のローファーブランド、コーディネートからローファーの歴史まで様々な角度からローファーをご紹介し、
          </br>街中でローファーを見かける回数を増やしていきたいです。
          </p>
      </div>
  </div>
  <!-- /.row -->

  <!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            ローファーの魅力
        </h1>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>無駄のないデザイン</h4>
            </div>
            <div class="panel-body">
                <p>なんといっても、その無駄のないデザインが最大の魅力です。スタイリッシュなフォルムは多様なコーディネートを可能にしてくれます。それでいて、存在感が抜群なのです。
<br />「スニーカーからは卒業したいけど、どうしたら良いかわからない…」「革靴を履きたいんだけど、何を選んだらいいんだろう。堅くなっちゃうな」なんて思っている方にはおすすめです！
</br></br></br></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>様々なシーンで活躍</h4>
            </div>
            <div class="panel-body">
                <p>カジュアルからフォーマルまで、様々なシーンで使えます。1足あれば様々な服装にフィットしれくてるはずです。
</br>友達と飲みに行く時、彼女や奥さんとデートする時、気軽に履けるけどその綺麗なフォルムで足元をお洒落に飾ってくれます。</br></br></br></br></br></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>長い付き合い</h4>
            </div>
            <div class="panel-body">
                <p>例えば、オールデンというメーカーのローファーだと10万円弱、エドワード・グリーンというメーカーのローファーだとなんと20万円以上もします！！（管理人である僕もまだどちらも手にできてない…）
</br>しかし、手入れをして履いてやると10年以上の付き合いができるのです。毎年1万円だと思えば高くない！というのも一つの考え方ですよね。
革製品の好きなところですが、少しずつ自分だけのものになっていくところもとても楽しいですね。</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Features Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">まずはこの一足。ペニーローファーの歴史</h2>
    </div>
    <div class="col-md-6">
      <p>Wikipediaにも書かれていますが、ローファーの由来は諸説あるようですね。
      ローファーはいわゆるスリッポンシューズですが
      スリッポンシューズはモカシンなどネイティブ・アメリカンからヨーロッパ貴族まで、
      様々な時代に使用されていることが歴史から分かっているとのこと。
      「靴」として発想しやすい形状ということなのでしょう。</p>
      <p>ローファーの中でも一番スタンダードなのは
      「ペニーローファー」ですね。「コインローファー」とも呼ばれます。
      また、「ペニーローファー」は一番古いデザインのローファーと言われています。</p>

      <p>「ペニーローファー」は1876年に創立されたG.H. Bassが
      「Weejun」と名付けたローファーを大流行させ、大衆化されました。</p>

      <p>その際、G.H. Bassはシンプルなローファーにひとつ象徴的なデザインを加えました。
      ローファー本体を横切る帯を付け、唇のような形状のデザインが施されたのです。
      きっとこのデザインが当時の若者の心に刺さったのでしょう。</p>

      <p>Loafer's Mania!!もこの絶妙なシンプル加減が「ペニーローファー」の最大の魅力だと思っています。</p>

      <p>なお、「ペニーローファー」「コインローファー」という名称の由来も諸説あるようです。
      諸説の詳細は省きますが、
      諸説あるという点が、現在に至るまで大衆文化に受け入れられて来たことを証明しているのだと思います。</p>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="<%= asset_path "ghbass_logan.jpg" %>" alt="G.H.BASS&COローガン" width="80%">
        <div class="carousel-indicators">
            <h6>出典 <a href="https://www.ghbass.com/" target="_blank">G.H.BASS&CO</a></h6>
        </div>

    </div>
</div>
<!-- /.row -->

  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">管理人のローファーコレクション！</h2>
      <p>かなりしょぼい…増やしていくぞー！</p>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-responsive img-portfolio img-hover" src="<%= asset_path "mylist_ghbass_black.jpg" %>" alt="マイローファーG.H.BASSローガンブラック" width="80%"></a>
        <div class="card-body">
          <h4 class="card-title">G.H.BASS LOGAN WEEJUNS BLACK</h4>
          <p class="card-text">サイズ：US9</p>
          <p class="card-text">ワイズ：Ｄ</p>
          <p class="card-text">全体の作り：ライトな作りで長い付き合いは難しい</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="img-responsive img-portfolio img-hover" src="<%= asset_path "mylist_ghbass_burgundy.jpg" %>" alt="マイローファーG.H.BASSローガンバーガンディー" width="80%"></a>
        <div class="card-body">
          <h4 class="card-title">G.H.BASS LOGAN WEEJUNS BURGUNDY</h4>
          <p class="card-text">サイズ：US9</p>
          <p class="card-text">ワイズ：Ｄ</p>
          <p class="card-text">全体の作り：ライトな作りで長い付き合いは難しい</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "mylist_unitedarrows_slipon.jpg" %>" alt="マイローファーUNITEDARROWSスリッポン" width="80%">
        <div class="card-body">
          <h4 class="card-title">UNITED ARROWS※メーカー不明</h4>
          <p class="card-text">サイズ：不明</p>
          <p class="card-text">ワイズ：不明</p>
          <p class="card-text">全体の作り：重厚で履けば履くほど足にフィットする</p>
        </div>
      </div>
    </div>
  </div>

    <!-- Marketing Icons Section -->
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                ローファーを履く
            </h1>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-arrow-circle-right"></i>テスト</h4>
                </div>
                <div class="panel-body">
                    <p>なんといっても、その無駄のないデザインが最大の魅力です。スタイリッシュなフォルムは多くのコーディネートを可能にしてくれます。それでいて、存在感が抜群なのです。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-arrow-circle-right"></i>テスト</h4>
                </div>
                <div class="panel-body">
                    <p>なんといっても、その無駄のないデザインが最大の魅力です。スタイリッシュなフォルムは多くのコーディネートを可能にしてくれます。それでいて、存在感が抜群なのです。</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-arrow-circle-right"></i></i>テスト</h4>
                </div>
                <div class="panel-body">
                    <p>カジュアルからフォーマルまで、様々なシーンで活躍してくれます。一度体験すると、もう手放すことは出来ないはず。</br></br></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-arrow-circle-right"></i></i>テスト</h4>
                </div>
                <div class="panel-body">
                    <p>デザインから素材まで実に様々なタイプのローファーが存在します。一度手に取れば、きっと飽きることはありません。</br></br></p>
                </div>
            </div>
        </div>
    </div>
    -->
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">ローファーを有する世界のブランド</h2>
        </div>
        <div class="col-md-4 col-sm-6 center-block">
            <a href="https://www.ghbass.com/home.do" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "ghbass_logo.gif" %>" alt="G.H.BASS&CO.">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.johnlobb.com/jp/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "johnlobb_logo.jpg" %>" alt="JOHN LOBB">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.edwardgreen.jp/" target="_blank">
              <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "edwardgreen_logo.png" %>" alt="Edward Green">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="http://www.aldenshoe.com/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "alden_logo.jpg" %>" alt="Alden" width="70%">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="http://www.jmweston.fr/jp/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "jmweston_logo.png" %>" alt="J.M.WESTON">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.crockettandjones.com/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "crockettandjones_logo.png" %>" alt="CROCKETT&JONES">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.cheaney.co.uk/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "josephcheaney_logo.png" %>" alt="JOSEPH CHEANEY&SONS">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="http://www.british-made.jp/fs/british/c/churchs/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "churchs_logo.png" %>" alt="Church's">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="http://www.jalansriwijaya.com/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "jaran_logo.jpg" %>" alt="Jalan Sriwijaya">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="http://www.regalshoes.jp/shop/default.aspx/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "regal_logo.png" %>" alt="REGAL SHOES">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="https://www.haruta-shoes.co.jp/" target="_blank">
                <img class="img-responsive img-portfolio img-hover" src="<%= asset_path "haruta_logo.png" %>" alt="HARUTA">
            </a>
        </div>
    </div>
    <!-- /.row -->

<!--
    <hr>
-->

    <!-- Call to Action Section -->
<!--
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
            </div>
        </div>
    </div>
 -->
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Loafer's Mania!! 2017〜</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<%= javascript_include_tag 'jquery', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 5000 //changes the speed
})
</script>
